@font-face {
  font-family: Yellowtail;
  src: url(../../styles/fonts/Yellowtail/Yellowtail-Regular.ttf);
}

@font-face {
  font-family: RobotoBold;
  src: url(../../styles/fonts/Roboto/Roboto-Bold.ttf);
}

@font-face {
  font-family: OpenSans;
  src: url(../../styles/fonts/OpenSans/OpenSans-Regular.ttf);
}

.collarbones_team {
  position: absolute;
  margin-top: 700px;
}

.heading_block {
  position: absolute;
  margin-left: 534.5px;
  width: 852px;
  text-align: center;
}
.heading {
  color: #7eb693;
  font-family: Yellowtail;
  font-weight: 400;
  font-size: 36px;
  margin-bottom: 0;
}
.heading_paragraph {
  font-family: RobotoBold;
  font-weight: 800;
  font-size: 50px;
  margin-top: 0;
  color: #274c5b;
}
.paragraph {
  font-size: 18px;
  font-weight: 400;
  font-family: OpenSans;
}

.person_block {
  display: inline-flex;
  margin-top: 42px;
  margin-top: 300px;
  margin-left: 260px;
}

.first_person {
  width: 449px;
  height: 630px;
  background-color: #f9f8f8;
  border-radius: 25px;
}

.two_person {
  width: 449px;
  height: 630px;
  background-color: #f9f8f8;
  margin-left: 27px;
  border-radius: 25px;
}

.three_person {
  width: 449px;
  height: 630px;
  background-color: #f9f8f8;
  margin-left: 27px;
  border-radius: 25px;
}

.four_person {
  width: 449px;
  height: 630px;
  background-color: #f9f8f8;
  position: absolute;
  margin-top: 700px;
  border-radius: 25px;
}

.five_person {
  width: 449px;
  height: 630px;
  background-color: #f9f8f8;
  margin-left: 27px;
  border-radius: 25px;
  margin-left: 480px;
  position: absolute;
  margin-top: 700px;
}

.six_person {
  width: 449px;
  height: 630px;
  background-color: #f9f8f8;
  margin-left: 27px;
  border-radius: 25px;
  position: absolute;
  margin-left: 950px;
  margin-top: 700px;
}

.name {
  font-family: RobotoBold;
  color: #274c5b;
  margin-left: 28px;
  margin-top: 35px;
  font-size: 25px;
  margin-bottom: 0;
}

.role {
  font-family: Yellowtail;
  font-size: 22px;
  font-weight: 400;
  color: #7eb693;
  margin-left: 28px;
  margin-top: 10px;
  position: absolute;
}

.first_person:hover {
  background-color: white;
  box-shadow: 0px 29px 44px 0px #96969640;

  cursor: pointer;
}

.two_person:hover {
  background-color: white;
  box-shadow: 0px 29px 44px 0px #96969640;

  cursor: pointer;
}

.three_person:hover {
  background-color: white;
  box-shadow: 0px 29px 44px 0px #96969640;

  cursor: pointer;
}

.four_person:hover {
  background-color: white;
  box-shadow: 0px 29px 44px 0px #96969640;

  cursor: pointer;
}

.five_person:hover {
  background-color: white;
  box-shadow: 0px 29px 44px 0px #96969640;

  cursor: pointer;
}

.six_person:hover {
  background-color: white;
  box-shadow: 0px 29px 44px 0px #96969640;

  cursor: pointer;
}

.social_block {
  position: absolute;
  margin-left: 300px;
  margin-top: 40px;
}

.social_image {
  margin-left: 17px;
}

.first_social_block {
  margin-left: 340px;
  display: inline;
  position: absolute;
  margin-top: 40px;
}
.first_social_image {
}
.first_social_image {
  margin-left: 17px;
}
