@font-face {
  font-family: Yellowtail;
  src: url(../../styles/fonts/Yellowtail/Yellowtail-Regular.ttf);
}

@font-face {
  font-family: RobotoBold;
  src: url(../../styles/fonts/Roboto/Roboto-Bold.ttf);
}

.ribs {
  width: 1920px;
  height: 1067px;
  background-color: #f9f8f8;
  position: absolute;
  margin-top: 1800px;
  display: flex;
}

.left_block {
  position: absolute;
}

.left_block_image {
  position: absolute;
}

.right_block {
  display: inline-flexbox;
  position: absolute;
  margin-left: 958px;
  margin-top: 243px;
}
.about_us {
  font-family: Yellowtail;
  color: #7eb693;
  margin-bottom: 0;
  font-size: 36px;
  font-weight: 400;
}
.heading_paragraph {
  font-family: RobotoBold;
  color: #274c5b;
  width: 702px;
  font-size: 50px;
  margin-top: 30px;
}
.paragraph {
  font-size: 18px;
  font-weight: 400;
  width: 600px;
}

.card {
  margin-top: 46px;
  display: inline-flex;
}

.card_two {
  margin-top: 30px;
  display: inline-flex;
}

.heading_card {
  font-size: 25px;
  margin-top: 0;
}

.paragraph_card {
  width: 430px;
  font-size: 18px;
}

.text_card {
  display: flexbox;
  margin-left: 19px;
  margin-top: 0;
}

.button {
  position: absolute;
  width: 220px;
  height: 79px;
  background-color: #274c5b;
  border-radius: 20px;
  border: 0;
  font-size: 20px;
  font-family: RobotoBold;
  color: white;
  margin-left: 960px;
  margin-top: 930px;
  cursor: pointer;
}

.arrow {
  position: absolute;
  margin-left: 13px;
  margin-top: 7px;
  z-index: 1;
}
.arrow_background {
  margin-top: 2px;
  margin-left: 7px;
  position: absolute;
}
